* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	width: 1024px;
	margin: 0 auto;
	background-color: #d7e7f7;
	font-size: 18px;
	font-family: Comic Sans MS;
}

h1, p{
	color: #333;
}

h1{
	text-shadow: 1px 1px 5px #0af;
	margin: 10px 0;
}

a, a:visited{
	color: blue;
}

header{
	height: 110px;
}

footer{
	position: fixed;
	bottom: 0px; left: 0px;
	width: 100%;
	height: 61px;
}

footer iframe{
	height: 60px;
}

iframe {
	border: 0;
}

hr{
	margin: 3px 0;
	color: #0af;
}

.menu{
	padding: 40px 0;
	display: flex;
	justify-content: flex-end;
}

.menu div{
	margin-right: 30px;
}

.menu div a{
	color: #0af;
	padding: 5px 20px;
	border-top: 2px solid #0af;
	border-bottom: 2px solid #0af;
}

.menu div:hover a{
	color: white;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	background-color: #0af;
}

.logo{
	float: left;
	height: 100px;
}

a.buy, input[type="submit"]{
	margin-top: 10px;
	display: block;
	width: 150px;
	background-color: #0af;
	color: white;
	padding: 10px 20px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	font-weight: bold;
	text-align: center;
}

a.buy:hover, input[type="submit"]:hover{
	box-shadow: 0 0 3px #0af;
}

.itemlist{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.center, .itemlist p{
	text-align: center;
}

.center-m{
	margin: 0 auto;
}

.circle li {
	list-style-image: url(img/arrow.png);
}

.circle li b:first-letter {
    font-family: "Times New Roman", serif;
    font-size: 150%;
    color: blue;
}

.circle li b{
	display: inline-block;
	width: 160px;
}

.cont{
	margin: 10px 0;
	display: flex;
	justify-content: space-around;
}

.cont a{
	font-style: italic;
}

fieldset{
	border: 2px dotted #0af;
	padding: 15px 30px;
}

fieldset div{
	margin: 0 20px;
	float: left;
}

legend{
	margin-left: 30px;
	font-size: 25px;
}

input[type="text"], select{
	border: 1px solid #0af;
	border-radius: 10px;
	height: 34px;
	width: 200px;
	padding: 0 20px;
	color: #0af;
	font-size: 20px;
	box-sizing: border-box;
	text-transform: capitalize;
}

input[type="text"]:focus{
	background-color: lightblue;
	color: white;
}

.features{
	width: 40%;
	border-collapse: collapse;
	border-radius: 10px;
}

.features th{
	background-color: grey;
	padding: 10px;
	height: 50px;
}

.features tr:nth-child(2n){
	background-color: #b1b3b1;
}

.features tr:nth-child(2n-1){
	background-color: #c0c0c0;
}

.features td{
	padding: 10px;
}

.features td:first-child{
	text-align: right;
}

.callus {
	position: fixed; top: 400px; left: -65px;
}

.callus p{
	transform: rotate(90deg);
	border: 1px solid #0af;
	background-color: #0af;
	border-radius: 20px 20px 0 0;
	padding: 10px 20px;
	color: white;
}

.callus p:hover{
	box-shadow: 0 0 10px #0af;
	cursor: pointer;
}

.callus p:active{
	box-shadow: inset 0 0 10px 5px white;
}